.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.page__visual__pie {
  position: relative;
  top: 40px;
}

.page__visual__pie--translate-employer {
  transform: translate(4px, -4px);
}

.page__visual__pie--rotate-personal {
  transform: rotate(180deg) translate(0px, 1px);
  transform-origin: center;
}

.page__visual__pie--rotate-tax {
  transform: rotate(-36deg) translate(1px, -3px);
  transform-origin: center;
}
