:root {
  --main-bg-color: #f7f7f7;
  --smartnav-top-height: 48px;
  --smartnav-top-breadcrumbs-height: 48px;
}

body {
  margin: 0;
  background: var(--main-bg-color);
}
.SmartNavTop {
  background: #ffffff;
  height: var(--smartnav-top-height);
}
.SmartNavTopBreadcumbs {
  background: #002244;
  height: var(--smartnav-top-breadcrumbs-height);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 4px;
}

.p-0 {
  padding: 0px !important;
}
.p-1 {
  padding: 4px !important;
}
.p-2 {
  padding: 8px !important;
}
.p-3 {
  padding: 12px !important;
}
.p-4 {
  padding: 16px !important;
}

.button--primary {
  display: block;
  text-decoration: none;
  background: #00ddff;
  color: #002c53;
  padding: 12px 16px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  border-style: none;
  min-height: 44px;
}

.button--primary:hover {
  background: #00c9fa;
}

.button--primary:active {
  background: #00335a;
  color: #fff;
}

@media (min-width: 800px), (orientation: landscape) {
  .button--primary {
    display: inline-block;
  }
}

.smartmodal__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.smartmodal {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
}

@media (min-width: 800px) {
  .smartmodal {
    position: relatie;
    width: 75vw;
    margin-left: 12.5vw;
    top: 5%;
    height: 60vh;
    height: 80%;
    border-radius: 6px;
    padding: 32px;
  }
  .page {
    min-height: 50vh;
  }
}
